p:hover{
    color: rgb(248, 72, 72);
    transform: translateX(2px) ;
    /* transition: 2px; */
}

.fa-solid fa-arrow-right:hover{
    /* color: rgb(248, 72, 72); */
    transform: initial translateX(2px) ;
    /* animation: linear ;  */
}
#bg-color{
    background-color: rgba(241, 240, 240, 0.831);
}

#email::placeholder{
    font-size: 12px;;
}
.icons{
    width:20px;
    height: 20px;
    margin-top: 4px;
}
button.form-button span.icons{
    animation: 0.4s linear alternate backwards;

}

button.form-button:hover span.icons{
    animation-name: MoveBtnArrow;
}

@keyframes MoveBtnArrow {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(6px);
        opacity: 0;
    }
}