.quantity:hover .quantity-btn{
    opacity: 1;
}

.addToCart-btn:hover::after{
    animation-name: BtnCase;
}


@keyframes BtnCase {
    0%{
        width: 0%;
        margin: auto;
    }
    100%{
        width: 100%;
        margin: auto;
        opacity: 0;
    }
}